*{
    margin: 0;
    font-family: 'Cookie';
}
img{
    width: 100%;
    height: 600px;
    background-size: contain;
    background-position: 0%;
}
p{
    font-size: 40px;
    font-weight: 100;
    font-style:oblique;
    padding: 20px;
    margin: 20px;
}
h1{
    font-size: xx-large;
    margin: 20px;
    font-weight: 100;
    font-style: italic;
}